[config]
# Dictionary file with columns framid and NWD_ID note the column names are case sensitive
dictionary = /some_path/path2/link.csv

# Template for bcf file name format note the curly braces around {chrom} that is replaced by the proper number
bcf_template = /rprojectnb/sequencing/topMed/data/freeze_8a/minDP0/freeze.8.chr{chrom}.pass_and_fail.gtonly.minDP0.bcf

